.container {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  position: relative;
}

form {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

.label-validator {
  color: red;
  font-size: 11px;
  font-family: Arial, sans-serif;
}

.button-send {
  background-color: #f3db63;
}

.button-send:hover {
  background-color: #f7e174;
}

.button-send:active {
  background-color: #f3d853;
}

.button-restart {
  background-color: #b3b3b3;

}

.button-restart:hover {
  background-color: #5f5f5f;
}

.button-restart:active {
  background-color: #666666;
}

.containerInput {
  margin-top: 20px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-x: auto;
}

.alert {
  padding: 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  width: 25%;
  height: auto;
  max-height: 600px;
  margin: auto;
}

.closebtn {
  margin-left: 15px;
  color: black;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.closebtn:hover {
  color: black;
}
