.container {
  font-family: Arial, sans-serif;
  max-width: 80%;
  min-width: 400px;
  margin: 1% auto;
  background-color: #F5F9FF;
  overflow-x: auto;
}

.containerGrid {
  font-family: Arial, sans-serif;
  max-width: 90%;
  margin: 1% auto;
  max-height: 400px;
  min-width: 400px;
  overflow-y: auto;
}

.containerInput {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  flex-direction: row;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

table {
  width: 100%;
  font-size: 90%;
  border-radius: 8px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  min-width: 100px;
  max-width: 400px;
  word-wrap: break-word;
}

th {
  border: none;
  background-color: #f2f2f2;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;
}

.pagination {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 16px;
}

.selectPagination {
  margin-left: 8px;
}

.paginationGrid {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  flex-direction: row;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.columnGrid {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.spaceIcon {
  margin-right: 2%;
}

.button-add {
  background-color: #f3db63;
}

.button-add:hover {
  background-color: #f7e174;
}

.button-add:active {
  background-color: #f3d853;
}

.button-transparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 1;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-x: auto;
}

.alert {
  padding: 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  width: 25%;
  height: auto;
  max-height: 600px;
  margin: auto;
}

.closebtn {
  margin-left: 15px;
  color: black;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.closebtn:hover {
  color: black;
}

.button-confirm {
  background-color: #f3db63;
}

.button-confirm:hover {
  background-color: #f7e174;
}

.button-confirm:active {
  background-color: #f3d853;
}

.button-cancel {
  background-color: #b3b3b3;

}

.button-cancel:hover {
  background-color: #5f5f5f;
}

.button-cancel:active {
  background-color: #666666;
}

.containerAlertButton {
  margin-top: 20px;
  text-align: center;
}

@keyframes loading {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.skeleton-logo,
.skeleton-text,
.skeleton-actions {
  width: 100px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 5px;
  animation: loading 1s infinite linear;
}

.skeleton-logo {
  width: 50px;
}

.skeleton-actions {
  width: 80px;
}
