<div class="containerInput">
  <input type="text" [(ngModel)]="inputSearchValue" (ngModelChange)="searchProduct()" placeholder="Search.." />
  <button class="button button-add" (click) = 'addProduct()'>Agregar</button>
</div>
<div class="container">
  <div class="containerGrid">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>
            <div class="columnGrid">
              <span class="spaceIcon">Descripción</span>
              <i title="Información adicional">
                <img alt="Información" style="width: 20px" src="../../../../assets/icons/informativo.png" />
              </i>
            </div>
          </th>
          <th>
            <div class="columnGrid">
              <span class="spaceIcon">Fecha de liberación</span>
              <i title="Información adicional">
                <img alt="Información" style="width: 20px" src="../../../../assets/icons/informativo.png" />
              </i>
            </div>
          </th>
          <th>
            <div class="columnGrid">
              <span class="spaceIcon">Fecha de reestructuración</span>
              <i title="Información adicional">
                <img  alt="Información" style="width: 20px" src="../../../../assets/icons/informativo.png" />
              </i>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayList()">
          <td>
            <img class="logo" src="{{ product.logo }}" alt="" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td>
            <div class="dropdown">
              <button class="button-transparent">
                <img alt="Acciones" style="width: 10%; height: 1%" src="../../../../assets/icons/tresPuntos.png" />
              </button>
              <div class="dropdown-content">
                <a (click)="editProduct(product)">Editar</a>
                <a (click)="showConfirmationMessageDeleteProduct(product)">Eliminar</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="paginationGrid">
    <div>
      <h6>{{ totalRows }} Resultados</h6>
    </div>
    <div>
      <select class="selectPagination" #optionPages (change)="onPageChange(optionPages.value)">
        <option *ngFor="let size of optionPage">{{ size }}</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="showAlert" class="overlay">
  <div class="alert">
      <button class="closebtn" (click)="hideAlert()">&times;</button>
      <div [ngSwitch]="typeMessage" style="display: flex; align-items: center; justify-content: center; margin-top: 5%;">
          <img *ngSwitchCase="'error'" alt="" style="width: 20%; height: 10%;" src="../../../../assets/icons/error.png" />
          <img *ngSwitchCase="'exitoso'" alt="" style="width: 20%; height: 10%;" src="../../../../assets/icons/success.png" />
      </div>
      <p style="text-align: center; margin-top: 10%;">{{alertMessage}}</p>
  </div>
</div>

<div *ngIf="showAlertConfirmation" class="overlay">
  <div class="alert">
      <p style="text-align: center; margin-top: 10%;">{{confirmationMessage}}</p>
      <div class="linea"></div>
      <div class="containerAlertButton">
        <button  (click) = hideAlertConfirmation() class="button button-cancel">Cancelar</button>
        <button  (click) = processAlertConfirmation() class=" button button-confirm">Confirmar</button>
    </div>
  </div>
</div>
