.container {
  font-family: Arial, sans-serif;
  max-width: 80%;
  min-width: 400px;
  margin: 1% auto;
  background-color: #F5F9FF;
  overflow-x: auto;
}

.containerGrid {
  font-family: Arial, sans-serif;
  max-width: 90%;
  margin: 1% auto;
  max-height: 400px;
  min-width: 400px;
  overflow-y: auto !important;
}

.containerInput {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  flex-direction: row;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

table {
  width: 100%;
  font-size: 90%;
  border-radius: 8px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  min-width: 100px;
  max-width: 400px;
  word-wrap: break-word;
}

th {
  border: none;
  background-color: #f2f2f2;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;
}
.pagination {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 16px;
}

.selectPagination {
  margin-left: 8px;
}

.paginationGrid {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  flex-direction: row;
  display: flex;
  place-content: center space-between;
  align-items: center;
}

.columnGrid {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.spaceIcon {
  margin-right: 2%;
}

.button-add {
  padding: 10px 20px;
  background-color: #f3db63;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-add:hover {
  background-color: #f7e174;
}
.button-add:active {
  background-color: #f3d853;
}

.button-transparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 1;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

